<div style= "text-align:center">
  <h2>Welcome to Battle</h2>
  <h4><%= @game.player_1.name %> VS <%= @game.player_2.name  %></h4>
</div>

<span style="align:left"><%= @game.player_2.name %>: <%= @game.player_2.hp%>HP</span>

<form action="/attack">
  <input type="submit" value="Attack">
</form>

<span style="align:right"><%= @game.player_1.name %>: <%= @game.player_1.hp %>HP</span>
